@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Regular.ttf');
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-user-select: none;
  font-family: 'NotoSansKR';
}

img {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 0;
}
